body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

nav {
    background-color:forestgreen;
    font-size: large;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img {
    padding: 20px;
    width: 200px;
    size: auto-fit;
}
